/* Coolors Exported Palette - coolors.co/daddd8-c7d59f-b7ce63-8fb339-4b5842 */

/* HSL */
$color1: hsla(96%, 7%, 86%, 1);
$color2: hsla(76%, 39%, 73%, 1);
$color3: hsla(73%, 52%, 60%, 1);
$color4: hsla(78%, 52%, 46%, 1);
$color5: hsla(95%, 14%, 30%, 1);

/* RGB */
$color1: rgba(218, 221, 216, 1);
$color2: rgba(199, 213, 159, 1);
$color3: rgba(183, 206, 99, 1);
$color4: rgba(143, 179, 57, 1);
$color5: rgba(75, 88, 66, 1);